@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
#cssglobalmenu {
/*  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-Serif; */
font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold; 
  line-height: 15px;
  /*  text-transform: uppercase; */
  text-align: center;
  /*the following two are to make sure the menu appears above other items
  The main culprit being jquery tabs */
  z-index: 10;
  position: relative;
}
#cssglobalmenu > ul {
  width: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #FFFFFF;  /* #C0DFFD; */
  border: 3px solid #ece6e8;
  border-bottom: 3px solid #d9ced2; 
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
/*  border-radius: 2px; */

}
#cssglobalmenu > ul li#responsive-tab {
  display: none;
  /* Hide for large screens */

}
#cssglobalmenu > ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
    border: 3px solid #ece6e8;
  border-bottom: 3px solid #d9ced2;
}
#cssglobalmenu > ul li.right {
  float: right;
}
#cssglobalmenu > ul li.has-sub {
  position: relative;
}
#cssglobalmenu > ul li.has-sub:hover ul {
  display: block;
}
#cssglobalmenu > ul li.has-sub ul {
  display: none;
  width: 250px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #4C5560;
  color: #fff;
/*  border: 1px solid #ece6e8;
  border-bottom: 3px solid #d9ced2; */
  border-top: 0 none;
}

#cssglobalmenu > ul li.has-sub ul li a { /*remove this to turn them back to regular link orange */
  color: #fff; 
}

#cssglobalmenu > ul li.has-sub ul li a:hover { /* border options in case you want them */
  color: #fff;
  background: #626F7F;
  text-decoration: underline;
/*  border: 1px solid #ece6e8; 
  border-bottom: 1px solid #d9ced2;
  border-top:  1px solid #d9ced2; */
}

#cssglobalmenu > ul li.has-sub ul li {
  display: block;

}

#cssglobalmenu > ul li a {
  display: block;
  padding: 12px 16px 11px 16px;
  text-decoration: none;
  color: #CC6600;
  text-shadow: none;
}
#cssglobalmenu > ul li a.active,
#cssglobalmenu > ul li a:hover {
  background: #4b545f;
  color: #fff;
  text-shadow: 0px 1px 0px #000;
}
@media (max-width: 600px) {
  #cssglobalmenu > ul {
    width: 100%;
  }
  #cssglobalmenu > ul li#responsive-tab {
    display: block;
  }
  #cssglobalmenu > ul li#responsive-tab a {
    background: url('images/menu.png') no-repeat;
    background-position: 95% -35%;
  }
  #cssglobalmenu > ul li#responsive-tab a:hover {
    background-color: #4C5560;
    background-position: 95% 135%;
  }
  #cssglobalmenu > ul li {
    display: none;
  }
  #cssglobalmenu > ul li.right {
    float: none;
  }
  #cssglobalmenu > ul li.has-sub {
    position: relative;
  }
  #cssglobalmenu > ul li.has-sub ul {
    display: block;
    position: static;
    width: 100%;
    background: #ffffff;
    border: 0 none;
  }
  #cssglobalmenu > ul li.has-sub ul li {
    display: block !important;
  }
  #cssglobalmenu > ul li.has-sub ul li a{
    color: #CC6600;
  }
  #cssglobalmenu > ul li.has-sub ul li a span {
    display: block;
    padding-left: 24px;
  }
  #cssglobalmenu > ul li.has-sub > a {
    background-image: none;
  }
}
/* Make sure they show even if hidden in mobile view by JS */
@media (min-width: 600px) {
  #cssglobalmenu > ul > li.collapsed {
    display: inline-block !important;
    *display: inline;
    zoom: 1;
  }
  #cssglobalmenu > ul ul li.collapsed {
    display: block !important;
  }
}
